*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    border: 2px solid black;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgb(128, 128, 128);
    height: 30rem;
    box-shadow: 5px 5px 10px rgb(66, 66, 66);
}
#result{
    font-weight: bold;
    color: black;
}
#operator{
    font-weight: bold;
    color: black;
    font-size: 2rem;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 2rem;
}
body{
    background-color: rgb(88, 88, 80);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

section{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    
}
.calc_btn{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    flex-grow: 1.0;
    cursor: pointer;
    
}
.num_disp{
    display: flex;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    min-width: 0;
}
.row1,.row2,.row3{
    display: flex;
    gap: 1rem;
}

@media (max-width: 480px) {
    body {
    margin-top: 1rem;
    width: 100%;        
    padding: 0 1rem;    
  }
   
  .container {
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .num_disp {
    font-size: 1.2rem;
  }

  .calc_btn {
    font-size: 1.2rem;
    padding: 0.8rem;
  }

}
@media (max-width: 480px) {
  .row1, .row2, .row3 {
    flex-direction: column;
  }

  .calc_btn {
    width: 100%;
  }
}