*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{/*Element or type selector*/
    background-color: rgb(174, 174, 174);
    display:flex;
    flex-direction: column;
    gap:1rem;
}
header{/*Element or type selector*/
    display: flex;
    width: 100%;
    height: 5rem;
    background-color: white;
    
    
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    }

main{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
section{
   display: flex;
    width: 100%;
    background-color: white;
    height: 34rem;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}

aside{
    display: flex;
    width: 100%;
    background-color: white;
    height: 34rem;
    flex-direction: column;
    padding-left: 1rem;
    font-size: 1.5rem;
}

ul{
    display: flex;
    gap:2rem;
    flex-direction: row;
    font-size: 1.3rem;
    list-style-type: none;
}

nav ul li:first-child{/*pseudo class*/
    font-weight: bold;
}

.logo{
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    background-color: rgb(195, 81, 205);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
    
}

.container{
    display: flex;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
    
}

form input{
    width: 100%;
    height: 3rem;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    border: 1px solid rgb(157, 157, 157);
}

form button{
    width: 40%;
    height: 3rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(153, 67, 234);
    color: white;
    font-size: 1.2rem;
    border: none;
}

form input::placeholder{
    font-size: 1.5rem;
    padding-left: 1rem;
    

}
form label{
    font-size: 1.5rem;
}
.box_model{
    display: flex;
    gap: 0;

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem;
    width: 40%;
    height: 20rem;
    border: 1px solid black;
    padding: 3rem;
}
.styled-table ,td,tr,th{
    width: 60%;
    
    border-collapse: collapse;
    font-size: 18px;
   border: 1px solid black;
}

dl{
    font-size: 1.5rem;
}

dt,dd{
    display: inline;
    margin:0;
}
dd::after{
    content: '\A';
    white-space: pre;
}

article{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
article img{
    width: 300px;
    height: 240px;
    
}

article video{
    width: 320px;
    height: 240px;
}